<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Help_Desk.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Help_Desk.My.MySettings>
            <setting name="DataBase" serializeAs="String">
                <value>DIGECOOM</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>cliente</value>
            </setting>
            <setting name="clave" serializeAs="String">
                <value>Cladatos-ao</value>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value>SVRSQL</value>
            </setting>
        </Help_Desk.My.MySettings>
    </userSettings>
</configuration>